{% extends 'review/base.html' %}

{% block content %}
<section class="page-section" id="subpages">
    <div class="container">
        <div class="text-center">
            <h3>설교문 및 칼럼</h3>
        </div>
        <div class="row">
            <div class="col-md-12" id="main-div">
                <br/>                
                <br/>
                {% if object_list %}
                    {% for post in object_list %}
                        <div class="card mb-4" id="post-card-{{ post.pk }}">
                            <div class="card-header text-muted">
                                Title: {{ post.title }} &nbsp;&nbsp;posted by {{ post.name }}&nbsp;&nbsp;&nbsp;{{ post.date }}
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ post.get_markdown_content|striptags|safe|truncatewords:50 }}</p>
                                <br/>
                                {% if post.name %}
                                    <p class="card-text">
                                        <a href="{{ post.get_absolute_url }}" class="btn btn-secondary" id="read-more-post-{{ post.pk }}">Read More &rarr;</a>
                                    </p>
                                {% endif %}
                            </div>                            
                        </div>
                    {% endfor %}

                    {% if is_paginated %}
                        <ul class="pagination justify-content-center mb-4">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1">[최근페이지]&nbsp;&nbsp;</a>
                                    <a href="?page={{ page_obj.previous_page_number }}">next&nbsp;&nbsp;</a>
                                {% endif %}
                                
                                <span class="current-page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                                
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}">&nbsp;&nbsp;previous</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}">&nbsp;&nbsp;[가장오래된페이지]</a>
                                {% endif %}
                            </span>
                        </ul>
                    {% endif %}
                {% else %}
                    <h5>No Post</h5>
                {% endif %}
            </div>
        </div>
    </div>
</section>


{% endblock %}
