{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<style>
    form {
        margin-top: 40px; /* 상단 마진을 40px로 설정 */
    }
</style>
<section class="bg-dark position-relative pt-6 pb-5 py-sm-6">
    <div class="position-absolute top-0 start-0 w-100 h-100 bg-size-cover" ></div>
        <div class="position-relative zindex-5 container pb-3 pt-sm-2">
          <div class="mx-auto" style="max-width: 460px;">
            <h3 class="text-light text-center pt-sm-2" style="padding-top: 30px;">{% trans "Sign Out" %}</h3><br>
            <form class="login text-light text-center mb-4" method="POST" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {{ form.logout }}<br><br>                
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}<br>
                <button class="primaryAction btn btn-warning" type="submit">{% trans "Sign Out" %}</button>
            </form>
            
</section>
{% endblock %}