venv/

.idea/

migrations/
media/
_media/

temp/

.env 

__pycache__/

db.sqlite3

credentials.json
token.json
service-account-file.json
calendar-service-account-file.json

*.cmd
*.pem
*.log
*.pyo
*.pyd
*.pyc
.vscode/
.DS_Store

dump.rdb 