{% extends 'gallery/base.html' %}

{% block content %}
<section class="page-section" id="subpages">
    <div class="container">
        <div class="gallery-section" style="padding: 20px;">  
            <br/> 
            <!-- Title -->
            <h3>{{ object.title }}</h3>            
            {% if request.user %}
                <!-- Edit Button -->
                <button type="button" class="btn btn-sm btn-success float-right" onclick="location.href='{{ object.get_update_url }}'">EDIT</button>

                <!-- Convert Button -->
                <button type="button" class="btn btn-sm btn-success float-right mr-2" id="convert-image-btn">이미지변환</button>
            {% endif %}
            <hr>

            <!-- Date/Time -->
            <div class="d-flex justify-content-between">
                <p class="mb-0">{{ object.date }}</p>
            </div>

            <hr>

            <!-- Preview Image -->
            {% if object.head_image %}
                <img class="img-fluid rounded" src="{{ object.head_image.url }}" alt="{{ object.title }}">
            {% endif %}
        </div>
    </div>
</section>

<script>
    document.getElementById('convert-image-btn').addEventListener('click', function() {
        // AJAX 호출 부분, 서버에 POST 요청을 보내기 위한 코드 추가
        $.ajax({
            url: '{% url "run_image_conversion" %}',
            type: 'POST',
            csrfmiddlewaretoken: '{{ csrf_token }}',
            success: function(response) {
                alert(response.message);
            },
            error: function(xhr, status, error) {
                alert('An error occurred: ' + error);
            }
        });
    });
</script>


{% endblock %}