{% extends 'gallery/base.html' %}

{% block content %}
<section class="page-section" id="subpages">
    <div class="container">
        <div class="row align-items-center mb-4">
            <!-- 드롭다운 카테고리 및 검색 정보 -->
            <div class="col-md-4 text-center">
                <div class="dropdown d-inline-block">
                    <button class="btn btn-success dropdown-toggle" type="button" id="categoryDropdown" onclick="toggleDropdown()">
                        사진첩 분류목록
                    </button>
                    <ul id="categoryDropdownMenu" class="dropdown-menu" style="display: none;">
                        {% for category in category_list %}
                            <li>
                                <a class="dropdown-item" href="/gallery/category/{{ category.slug }}/">
                                    {{ category.name }}
                                </a>
                            </li>
                        {% empty %}
                            <li class="dropdown-item">No categories available</li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- 선택된 카테고리 또는 검색 정보 표시 -->
                {% if category %}
                    <small >&nbsp;&nbsp;{{ category.name }}</small>
                {% endif %}
            </div>            

            <div class="col-md-4 text-center">
                {% if user.is_authenticated %}
                    <a href="/gallery/create/" class="btn btn-success btn-sm px-4 py-2">사진올리기</a>
                {% endif %}
            </div>
            
            <div class="col-md-4 text-center">
                <div class="input-group">
                    <input type="text" id="gallery-search-input" onkeyup="wait_for_enterkey(event)" class="form-control" placeholder="Search for..."/>
                    <span class="input-group-btn">
                            <button class="btn btn-success" type="button" onclick="search_post();">Go!</button>
                        </span>
                </div>
            </div>
                
        </div>
        
        <div class="row text-center" id="photo-grid" style="margin-top: 80px;">                
        {% if object_list %}
            {% for p in object_list %}
                <div class="col-md-3 col-sm-6 mb-4 image-container">
                    <div class="card" id="{{ p.pk }}"> 
                        <div class="image-container">
                            {% if p.head_image %}                                
                            <a href="{{ p.get_absolute_url }}"  id="read-more-post-{{ p.pk }}">
                                <img class="img-fluid rounded enlarged-img card-img-top" src="{{ p.head_image.url }}" alt="Card image cap" >
                            </a>                                
                            {% else %}                                
                                <img class="img-fluid rounded enlarged-img card-img-top" src="https://picsum.photos/700/300/?random" alt="Card image cap" >                                
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5 class="text-center">No Photos</h5>
        {% endif %}           
        </div>            
        <!-- Pagination Controls -->
        <div class="pagination mt-4 text-center" style="font-size: small;">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">[처음페이지]&nbsp;&nbsp;</a>
                    <a href="?page={{ page_obj.previous_page_number }}">next&nbsp;&nbsp;</a>
                {% endif %}
                
                <span class="current-page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">&nbsp;&nbsp;previous</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">&nbsp;&nbsp;[끝페이지]</a>
                {% endif %}
            </span>
        </div>           
    </div>
</section>
<!-- JavaScript -->
<script>
    function search_post() {
    var search_value = document.getElementById('gallery-search-input').value.trim();
    if (search_value) {
        location.href = "/gallery/search/" + encodeURIComponent(search_value) + "/";
    } else {
        alert("Please enter a search term.");
    }
}

    function wait_for_enterkey(event){
        if (event.keyCode == 13){
            search_post();
        }
    }
</script>

{% endblock %}
