{% extends 'gallery/base.html' %}

{% block content %}
<section class="page-section" id="subpages">
    <div class="container">
        <div class="row align-items-center mb-4">
            <div class="col-md-4 text-center">
                <span class="text-muted"></span>
            </div>
            
            <div class="col-md-4 text-center">
                <h2 class="font-weight-bold" style="font-size: 1.7rem;">새언약교회 사진첩</h2>
            </div>
            
            <div class="col-md-4 text-center">
                {% if user.is_authenticated %}
                    <a href="/gallery/create/" class="btn btn-success btn-sm px-4 py-2">사진올리기</a>
                {% endif %}
            </div>
        </div>
        
        <div class="row text-center" id="photo-grid" style="margin-top: 80px;">                
        {% if object_list %}
            {% for p in object_list %}
                <div class="col-md-3 col-sm-6 mb-4 image-container">
                    <div class="card" id="{{ p.pk }}"> <!-- Add card class here -->
                        <div class="image-container">
                            {% if p.head_image %}
                                <a href="{{ p.get_absolute_url }}">
                                    <img class="img-fluid rounded enlarged-img card-img-top" src="{{ p.head_image.url }}" alt="" >
                                </a>
                            {% else %}
                                <a href="{{ p.get_absolute_url }}">
                                    <img class="img-fluid rounded enlarged-img card-img-top" src="https://picsum.photos/700/300/?random" alt="" >
                                </a>
                            {% endif %}
                        </div>
                        <!-- <div class="card-body">
                            <p class="card-title" style="font-size: 0.9rem;">{{ p.title | striptags | truncatewords_html:8 }}</p>
                        </div> -->
                    </div>
                </div>
            {% endfor %}
            
            {% if is_paginated %}
                <div class="pagination mt-4 text-center" style="font-size: small;">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">[처음페이지]&nbsp;&nbsp;</a>
                            <a href="?page={{ page_obj.previous_page_number }}">next&nbsp;&nbsp;</a>
                        {% endif %}
                        
                        <span class="current-page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                        
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">&nbsp;&nbsp;previous</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">&nbsp;&nbsp;[끝페이지]</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}

        {% else %}
            <h5 class="text-center">No Photos</h5>
        {% endif %}                
        </div>         
    </div>
</section>


{% endblock %}
