{% extends 'gallery/base.html' %}

{% block content %}
<section class="page-section" id="subpages">
    <div class="container">
        <div class="gallery-section" style="padding: 20px;">  
            <br/> 
            <!-- Title -->
            <h3>{{ object.title }}</h3>            
            {% if request.user %}
                <button type="button" class="btn btn-sm btn-success float-right" onclick="location.href='{{ object.get_update_url }}'">EDIT</button>

                <!-- Convert Button as Link -->
                <a href="{% url 'run_image_conversion' %}" class="btn btn-sm btn-danger float-right mr-2">이미지변환</a>
            {% endif %}
            <hr>

            <!-- Date/Time -->
            <div class="d-flex justify-content-between">
                <p class="mb-0">{{ object.date }}</p>
            </div>

            <hr>

            <!-- Preview Image -->
            {% if object.head_image %}
                <img class="img-fluid rounded" src="{{ object.head_image.url }}" alt="{{ object.title }}">
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}