{% extends 'gallery/base.html' %}

{% block content %}
<section class="page-section" id="subpages">
    <div class="container">
        <div class="gallery-section" style="padding: 20px;">  
            <br/> 
            <!-- Title -->                       
            {% if request.user %}
                <!-- Convert Button -->
                <button type="button" class="btn btn-sm btn-danger float-right mr-2" id="convert-image-btn">이미지 변환작업 시작</button>
            {% endif %}
            <hr>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.getElementById('convert-image-btn').addEventListener('click', function() {
        // AJAX 호출 부분, 서버에 POST 요청을 보내기 위한 코드 추가
        $.ajax({
            url: '{% url "run_image_conversion" %}',
            type: 'POST',
            csrfmiddlewaretoken: '{{ csrf_token }}',
            success: function(response) {
                alert(response.message);
            },
            error: function(xhr, status, error) {
                alert('An error occurred: ' + error);
            }
        });
    });
</script>


{% endblock %}