{% extends 'basecamp/base.html' %}

{% block content %}
<section class="page-section" id="subpages">
    <div class="container">
        <div class="text-center">
            <h3>찬양 악보들</h3>
        </div>
        <div>      
            <!-- 파일 업로드 폼 -->
            {% if user.is_authenticated %}
            <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}  
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success">찬양 PDF파일업로드</button>                    
                </div>
            </form>            
            <div class="d-flex justify-content-between mt-3">
                <a href="{% url 'account_logout' %}" class="btn btn-secondary">로그아웃</a>
                <a href="/admin/" class="btn btn-secondary">관리자 페이지</a>
            </div>
            {% else %}
                <a href="{% url 'account_login' %}?next={% url 'blog:music_list' %}" class="btn btn-success">찬양 PDF파일업로드</a>
            {% endif %}
            <!-- 주보 목록 -->
        </div>
        <br>
        
        <div class="row">
            <div class="row align-items-center mb-4">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" id="music-search-input" onkeyup="music_wait_for_enterkey(event)" class="form-control" placeholder="Search for..."/>
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button" onclick="music_search_post();">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="bulletin-list mt-4">
        {% if object_list %}
            {% for music in musics %}
                <div class="bulletin-item">
                    <div class="bulletin-info">
                        <p class="bulletin-date">{{ music.date|date:"Y년 m월 d일" }}
                        {% if music.pdf_file %}
                            <a href="{{ music.pdf_file.url }}" target="_blank" class="btn-view-bulletin">&nbsp;{{ music.title }}</a></p>
                        {% else %}
                            <p class="text-danger">찬양 PDF 파일이 없습니다.</p>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <p>찬양악보가 없습니다.</p>
            {% endfor %}
        {% else %}
            <h5 class="text-center w-100">찬양 악보가 없습니다</h5>
        {% endif %}
        </div>     
        <!-- Pagination Controls -->
        <div class="pagination mt-4 text-center" style="font-size: small;">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">[처음페이지]&nbsp;&nbsp;</a>
                    <a href="?page={{ page_obj.previous_page_number }}">next&nbsp;&nbsp;</a>
                {% endif %}
                
                <span class="current-page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">&nbsp;&nbsp;previous</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">&nbsp;&nbsp;[끝페이지]</a>
                {% endif %}
            </span>
        </div>   
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function MusictoggleDropdown() {
        var menu = document.getElementById("MusiccategoryDropdownMenu");
        // 드롭다운 메뉴 표시/숨김 토글
        if (menu.style.display === "none" || menu.style.display === "") {
            menu.style.display = "block";
        } else {
            menu.style.display = "none";
        }
    }
</script>
<script>
    function music_search_post() {
        var search_value = document.getElementById('music-search-input').value.trim();
        if (search_value) {
            location.href = "/blog/search/" + encodeURIComponent(search_value) + "/";
        } else {
            alert("검색하고자 하는 단어를 넣으세요");
        }
    }

    function music_wait_for_enterkey(event) {
        if (event.keyCode == 'Enter') {
            music_search_post();
        }
    }
</script>

{% endblock %}

