<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Maintenance (503)</title>
    <style>
        /* Your custom CSS styles go here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f3f3f3;
        }
        .container {
            text-align: center;
            padding: 100px;
        }
        h1 {
            font-size: 48px;
            color: #eb7828;
        }
        p {
            font-size: 18px;
            color: #555;
        }        
    </style>
</head>
<body>
    <div class="container">
        <h1>Be Right Back!</h1>
        <p>We’re temporarily down for maintenance</p>
        <p>Please try again later!</p>
    </div>
</body>
</html>