<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Airport Transfers Sydney - EasyGo Shuttle bus</title>
    <meta name="google-site-verification" content="hae39L0Kv7JIxVc3YclvckH7Im5SdYa2hk_vZbGJIkA" />
    <!-- SEO Meta Tags-->
    <meta name="description" content="EasyGo airport shuttle bus provide Sydney airport transport service, private ride with the cheap price. ">
    <meta name="keywords" content="Sydney airport shuttle, Sydney airport transfers, private transfers, cheap airport transfers, maxi taxi, mini bus, uber, airport transport, airport shuttle, airport pickup service, airport private transfers, Sydney hotel transfers, airport cheapest shuttle">
    <meta name="author" content="easycoding.live">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'basecamp/favi/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'basecamp/favi/apple-touch-icon.png' %}">
    <link rel="android-chrome" type="image/png" sizes="192x192" href="{% static 'basecamp/favi/android-chrome-192x192.png' %}">
	  <link rel="android-chrome" type="image/png" sizes="512x512" href="{% static 'basecamp/favi/android-chrome-512x512.png' %}">
	  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'basecamp/favi/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'basecamp/favi/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'basecamp/favi/site.webmanifest' %}">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="/static/basecamp/css/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="/static/basecamp/css/tiny-slider.css"/>
    <link rel="stylesheet" media="screen" href="/static/basecamp/css/flatpickr.min.css"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="/static/basecamp/css/theme.min.css">
  </head>
  <!-- Body-->
  <body>    
    <main class="page-wrapper">
      <!-- Sign In Modal-->		
      </div>
      <!-- Navbar (Floating light)-->
      <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
      <header class="header navbar navbar-expand-lg navbar-dark navbar-floating navbar-sticky" data-scroll-header data-fixed-element>
        <div class="container px-0 px-xl-3">
          <button class="navbar-toggler ms-n2 me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#primaryMenu" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand flex-shrink-0 order-lg-1 mx-auto ms-lg-0 pe-lg-2 me-lg-4" href="/home/"><img class="navbar-floating-logo d-none d-lg-block" src="/static/basecamp/images/easygo_icon.webp" style="border-radius: 30%" alt="EasyGo_image" width="40"></a>
          <div class="d-flex align-items-center order-lg-3 ms-lg-auto">
			  <a class="nav-link-style fs-sm text-nowrap" data-view="modal-signin-view">
				  <img class="fs-xl me-2 align-middle" src="/static/basecamp/images/easygo-logo-final.webp" alt="EasyGo_logo" width="120"></a>
			</div>
          <div class="offcanvas offcanvas-collapse order-lg-2" id="primaryMenu">
            <div class="offcanvas-header navbar-shadow">
              <h5 class="mt-1 mb-0">Menu</h5>
              <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <!-- Menu-->
              <ul class="navbar-nav">

                <li class="nav-item active">
                  <a class="nav-link" href="/home/" >Home</a>
                </li>
                <li class="nav-item dropdown dropdown-mega active"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">AboutUs</a>
                  <div class="dropdown-menu"><a class="dropdown-column dropdown-column-img bg-secondary" style="background-image: url('/static/basecamp/images/aboutus.webp');"></a>
                    <div class="dropdown-column"><a class="dropdown-item" href="/about_us/">About us</a><a class="dropdown-item" href="/service/">Service</a><a class="dropdown-item" href="/information/">Information</a><a class="dropdown-item" href="/inquiry/">Booking</a><a class="dropdown-item" href="/terms/">Terms</a><a class="dropdown-item" href="/privacy/">Privacy policy</a><a class="dropdown-item" href="mailto:suy.church@gmail.com">Contact</a><a class="dropdown-item" href="/payonline/">Pay Online</a><a class="dropdown-item" href="/meeting_point/">Airport Meeting Point</a></div>
                  </div>
                </li>
				  <li class="nav-item active">
                  <a class="nav-link" href="/information/" >Information</a>
                </li>
				  <li class="nav-item active">
                  <a class="nav-link" href="/service/" >Service</a>
                </li>
          <li class="nav-item active">
                  <a class="nav-link" href="/p2p/" >Point to Point</a>
                </li>        

				 <li class="nav-item dropdown active" ><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" >Price & Booking</a>
                  <ul class="dropdown-menu">
                    <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Price</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/inquiry/">Airport</a></li>
                        <li><a class="dropdown-item" href="/p2p_single/">Cruise</a></li>
                        <li><a class="dropdown-item" href="/p2p_single/">Event</a></li>
                        <li><a class="dropdown-item" href="/p2p_single/">Wedding</a></li>
                      </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Booking</a>
                      <ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/inquiry/">Airport</a></li>
                        <li><a class="dropdown-item" href="/p2p_single/">Cruise</a></li>
                        <li><a class="dropdown-item" href="/p2p_single/">Event</a></li>
                        <li><a class="dropdown-item" href="/p2p_single/">Wedding</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                
                <li class="nav-item dropdown active" ><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" >Contacts</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/inquiry3/"><i class="far fa-paper-plane"></i>&nbsp; Contact by form</a></li>
                    <li><a class="dropdown-item" href="mailto:suy.church@gmail.com"><i class="fal fa-envelope"></i>&nbsp;Contact by email</a></li>
                    <li><a class="dropdown-item"  href="sms:+61406883355"><i class="fad fa-sms"></i>&nbsp; &nbsp;Contact by sms</a></li>
                    <li><a class="dropdown-item"  href="tell:+61406883355"><i class="fal fa-phone-alt"></i>&nbsp; 0406 883 355 (message only) </a></li>
                  </ul>
                </li>
              </ul>
            </div>
		  </div></div>
      </header>
      <!-- Page content-->
      <!-- Hero-->
      <!-- Page title-->
      <section class="jarallax bg-gradient pt-5 pb-7 pt-md-7" data-jarallax data-speed="0.25"><span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient opacity-80"></span>
        <div class="jarallax-img" style="background-image: url('/static/basecamp/images/page-title-bg.webp');"></div>
        <div class="shape shape-bottom shape-slant bg-body">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 260">
            <polygon fill="currentColor" points="0,257 0,260 3000,260 3000,0"></polygon>
          </svg>
        </div>
        <div class="container position-relative zindex-5 pt-3 pb-7 pt-md-0" >
          <div class="row justify-content-center pb-7">
            <h1></h1>
        </div>
        </div>
      </section>
      <br/><br/>
      <!-- Contact form + details-->
      <section class="container position-relative zindex-5 pb-5"  >
        <div class="row">
          <div class="col-lg-1 col-md-2 offset-lg-1 pb-2 mb-5" style="margin-top: -280px;"></div>
          <div class="col-lg-5 col-md-4 offset-lg-1 pb-2 mb-5" style="margin-top: -280px;">
            <div class="card border-3 shadow-lg" style="padding:2rem">
                <!-- Paypal form -->
			          <form method="post" id="paypal-form">
			          	{% csrf_token %}
			          	<h3 class="text-center">PayPal Checkout</h3>
			          	<br><br>
			          	<div id="smart-button-container">
                  <div style="text-align: center"><small>BOOKING NAME</small></div>
                  <div style="text-align: center"><label for="description"></label><input type="text" name="descriptionInput" id="description" value=""></div>
                  <p id="descriptionError" style="visibility: hidden; color:red; text-align: center;">Please enter your booking name</p>
                    <div style="text-align: center"><small>ENTER AMOUNT</small></div>
                    <div style="text-align: center"><label for="amount"> </label><input name="amountInput" type="number" id="amount" value="" ></div>
                  <p id="priceLabelError" style="visibility: hidden; color:red; text-align: center;">Price only without $ sign</p>
                  <br><br>
                  <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
			          	</div>				
			          </form>
                <section class="container" style="margin-top: 60px;">
                  <h5 class="text-center mb-4">Safe Security Guaranteed</h5>
                   <p class="text-center"><small><small>This site is protected by reCAPTCHA Enterprise and the Google
                              <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                              <a href="https://policies.google.com/terms">Terms of Service</a> apply.
                   </small></small></p>
                </section>
  <script src="https://www.paypal.com/sdk/js?client-id=AZ2xYI2bgydBrPHtPNum5eMNhxKhjgoBGlGYhbDGOVA5PwA99rfia8KitgAW0LErRFnjYnGVdkrbeLKn&components=buttons&enable-funding=card&disable-funding=paylater,venmo&currency=AUD" data-sdk-integration-source="integrationbuilder_sc"></script>
  <script>
    paypal.Buttons({
      createOrder: function(data, actions) {
        var item_name = document.getElementById("description").value;
        var amount = document.getElementById("amount").value;
        var gross_amount = (amount * 1.03).toFixed(2);
        
        // Set up the transaction
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: gross_amount
            },
            description: item_name,
          }]
        });
      },
      onApprove: function(data, actions) {
          // Capture the funds from the transaction
          return actions.order.capture().then(function(details) {
              // Create a new Payment object and save it to the database
              var item_name = document.getElementById("description").value;
              var payer_email = details.payer.email_address;
              var amount = document.getElementById("amount").value;
              var gross_amount = (amount * 1.03).toFixed(2);
          
              return fetch('/paypal_ipn/', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json',						
                  },
                  body: JSON.stringify({
                      item_name: item_name,
                      payer_email: payer_email,
                      gross_amount: gross_amount,	
            })
              }).then(function(response) {
                  // Handle the payment success
                  // alert('Payment completed successfully!');
                  window.location.href = "/success/";
              });
          });
      }
    }).render('#paypal-button-container');
  </script>
  <script src="https://www.google.com/recaptcha/api.js?render={{ RECAPTCHA_V3_SITE_KEY }}" defer></script>
  <script>
      grecaptcha.ready(function() {
          grecaptcha.execute("{{ RECAPTCHA_V3_SITE_KEY }}", {action: 'homepage'}).then(function(token) {
              const csrftoken = '{{ csrf_token }}';
              fetch('/recaptcha-verify/', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json',
                      'X-CSRFToken': csrftoken
                  },
                  body: JSON.stringify({recaptchaToken: token})
              }).then(response => {
                  return response.json();
              }).then(data => {
                  if (data.success) {
                      console.log('reCAPTCHA validation succeeded');
                  } else {
                      console.log('reCAPTCHA validation failed:', data.message);
                  }
              });
          });
      });
  </script>
  </main>
    <footer class="site-footer bg-dark pt-5 pb-4">
      <div class="container d-md-flex justify-content-between align-items-center text-center">
        <ul class="list-inline fs-sm mb-3 order-md-2">
          <li class="list-inline-item my-1"><a class="nav-link-style nav-link-light" href="mailto:suy.church@gmail.com">Support</a></li>
          <li class="list-inline-item my-1"><a class="nav-link-style nav-link-light" href="mailto:suy.church@gmail.com">Contact</a></li>
          <li class="list-inline-item my-1"><a class="nav-link-style nav-link-light" href="/privacy/">Privacy policy</a></li>
          <li class="list-inline-item my-1"><a class="nav-link-style nav-link-light" href="/terms/">Terms &amp; Conditions</a></li>
        </ul>
        <p class="fs-sm mb-3 order-md-1"><span class="text-light opacity-50 me-1">© 2022 EasyGo. All rights reserved. Made by</span><a class="nav-link-style nav-link-light" href="https://easycoding.live" target="_blank" rel="noopener">EasyCoding.live</a></p>
      </div>
    </footer>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="/static/basecamp/js/bootstrap.bundle.min.js"></script>
    <script src="/static/basecamp/js/simplebar.min.js"></script>
    <script src="/static/basecamp/js/smooth-scroll.polyfills.min.js"></script>
    <script src="/static/basecamp/js/jarallax.min.js"></script>
    <script src="/static/basecamp/js/min/tiny-slider.js"></script>
    <script src="/static/basecamp/js/flatpickr.min.js"></script>
    <script src="/static/basecamp/js/rangePlugin.js"></script>
    <script src="/static/basecamp/js/date-picker.js"></script>
    <!-- Main theme script-->
    <script src="/static/basecamp/js/theme.min.js"></script>
      
  </body>
</html>
