{% extends 'basecamp/base.html' %}
{% block content %}
<!-- Hero-->
      <section class="jarallax bg-dark py-0" data-jarallax data-speed="0.5">
        <div class="jarallax-img" style="background-image: url('/static/basecamp/photos/bg-pattern02.webp');"></div>
            <br>
        <div class="container py-4 py-sm-7 text-center">
          <div class="py-md-6">
            <p></p>
            <br>
            <br>
            <h1 class="text-light pb-1">Privacy Policy</h1>
            <p class="fs-lg text-light">Makes it easier to experience the transport.</p>
          </div>
        </div>
      </section>
      <!-- Booking form-->
      <form class="container position-relative zindex-5" style="margin-top: -68px;">
        <div class="d-lg-flex align-items-center bg-secondary border rounded-3 px-4 pt-4 pb-3">
            <div id="main" class="site-main">
            <div class="full-container">

              <div id="primary" class="content-area">
                <div id="content" class="site-content" role="main">

                  <article id="post-11" class="post-11 page type-page status-publish hentry post">

                    <div class="entry-main">

			<h3>Privacy Policy</h3>

<p><a href="https://easygotransport.com">EasyGo&nbsp;</a>respects your privacy and takes seriously its obligations to comply with the Australian Privacy Principles ("APPs") contained in the Privacy Act 1988
(Cth) (as amended from time to time) ("Privacy Act"). "Personal Information" includes information that alone or when in combination with other information may be used to readily identify,
contact, or locate you (e.g., name, address, telephone number, email address, and location). We know that you care about how your Personal Information is collected, used, and shared and we want to help you make knowledgeable choices
about the information you provide to us. This Privacy Policy ("Privacy Policy") explains and summarises how EasyGo collects, uses, and protects your information, including the Personal Information that you may provide to us or that we may collect from you as you interact with us.
This Privacy Policy applies when EasyGo collects data from customers and guests, including through EasyGo controlled websites or applications, and EasyGo controlled applications accessed and/or used on a mobile, handheld or other wirelessly connected device (a "Website" or "Application"). Any Personal Information you provide is voluntary.
By disclosing your Personal Information to us or using our Websites or Applications, you consent to its collection, use and distribution by EasyGo in a manner that is consistent with the Privacy Act and any other applicable data protection laws and this Privacy Policy (which is expressly incorporated into any applicable Website or Application terms of use).
</p>

<h3>The Information we get from our clients</h3>
<p>We get only Travel details, contact details, credit card details.</p>

<h3>The Information we keep </h3>
<p>EasyGo keep only Travel and contact detail only, we do not keep any credit card details</p>

<h3>The Information we use</h3>
<p>For processing travel arrangements
EasyGo Airport Shuttle is dedicated to keeping your details private. Any information, we collect in relation to you, is kept strictly secured. We do not pass on/sell/swap any of your personal details with anyone. We use this information to identify your orders, provide you with our monthly newsletter and to personalise your travel experience with us; that’s all. EasyGo uses cookies to allow you to login to your account, maintain a travel profile & to process and track your bookings cart. Cookies sent to your computer from Hills Airport Shuttle only last while you’re browsing our website. We do not store persistent cookies on your computer. Cookies also allow us to give you a more personalised travel experience by displaying products that interest you throughout our product pages, thus providing you with a more friendly, interesting and enjoyable booking experience.
Whenever you use our web site, or any other web site, the computer on which the web pages are stored (the Web server) needs to know the network address of your computer so that it can send the requested web pages to your Internet browser. The unique network address of your computer is called its “IP address,” and is sent automatically each time you access any Internet site. From a computer’s IP address, it is possible to determine the general geographic location of that computer, but otherwise it is anonymous.
We do not keep a record of the IP addresses from which users access our site except where you have specifically provided us with information about yourself, in which case we also record your IP address for security purposes. An example of this would be when proceeding to a checkout to finalise an order you may wish to make. After completing the form provided, your IP address will be stored along with a transaction number that allows us to track your order. We only use Google user data in the ways described in our privacy policy.
</p>

<h3>Security Policy</h3>
<p>When purchasing from EasyGo Airport Shuttle your financial details are passed through a secure server using the latest SSL encryption technology. SSL encryption is approximated to take at least one trillion years to break, and is the industry standard. If you have any questions regarding our security policy, please contact our customer support centre info@easygoshuttle.com.au
Your email address
</p>

<h3>Your email address</h3>
<p>We do require certain other personal information such as your telephone number and your pick-up or drop-off address.
We will only use this additional personal information for the purpose which you have provided it, that is, making a booking for an airport transfer.
We will never disclose this information to any third party. </p>

<h3>Any other personal information</h3>
<p>We do require certain other personal information such as your telephone number and your pick-up or drop-off address.
We will only use this additional personal information for the purpose which you have provided it, that is, making a booking for an airport transfer.
We will never disclose this information to any third party.</p>

<h3>Cookies</h3>
<p>A cookie is a small file that a website sends to you your computer. Cookies record certain information necessary for our website to operate.
EasyGo Airport Shuttle uses a session cookie to remember who you are once you have entered your email address to either look at your existing bookings or to make a new booking. We do not use persistent cookies.
If you have disabled session cookies then our web site will still operate for you to view information but you will not be able to log in to the booking system page.</p>

<h3>Disclosure</h3>
<p>
  If we are required to abide by law to disclose any of your personal information then of course we must do so.</p>

				</div>

			</div>
		</div>
	</div>

{% endblock %}

