{% extends 'basecamp/base.html' %}
{% block content %}
<!-- Hero-->
      <section class="jarallax bg-dark py-0" data-jarallax data-speed="0.25">
        <div class="jarallax-img" style="background-image: url('/static/basecamp/photos/bg-pattern02.webp');"></div>
            <br>
        <div class="container py-4 py-sm-7 text-center">
          <div class="py-md-6">
              <p></p>
              <br>
              <br>
            <h1 class="text-light pb-1">Terms & Conditions</h1>
            <p class="fs-lg text-light"></p>
          </div>
        </div>
      </section>
      <!-- Booking form-->
      <form class="container position-relative zindex-5" style="margin-top: -68px;">
        <div class="d-lg-flex align-items-center bg-secondary border rounded-3 px-4 pt-4 pb-3">
            <div id="main" class="site-main">
            <div class="full-container">

              <div id="primary" class="content-area">
                <div id="content" class="site-content" role="main">

                  <article id="post-11" class="post-11 page type-page status-publish hentry post">


                    <div class="entry-main">

			<h3>Terms and Conditions</h3>

<p>Your booking is accepted subject to the following terms and conditions and by confirming your booking you accept that these terms & conditions will apply.  Any departure from these conditions, stipulated in any reservation will only be considered as accepted once our written consent has been accorded.  The purchaser in no case will be allowed to put forward standards, specifications, statutes, rules or conditions not duly accepted by EasyGo.</p>

<h3>Fares</h3>
<p>All fares are retail and include GST.  All fares are as quoted at the time of booking.  Fares and pick up times are subject to change without notice and are subject to availability at the time of booking. *Please note that there is 3% surcharge on the card payment</p>

<h3>Passengers</h3>
<p>All children must be accompanied by an adult.
NSW law prescribes that all passengers must wear the fitted seatbelt whilst the vehicle is in motion, failure to do so will be the sole responsibility of the passenger, parent or guardian and/or the person confirming the reservation.</p>

<h3>Luggage</h3>
<p>Luggage is limited to one suitcase and one piece of hand luggage per person.
Dangerous goods, flammable liquids, explosives and weapons are not permitted.
A surcharge will apply for the following additional luggage items as shown, passengers should advise reservations of long or unusual items at the time of booking;<br>
•	Additional luggage, $5.00 per item<br>
•	Surfboards, Snow Ski’s (no longer than 2m), $10.00 per item<br>
•	Bike in Bike Box, $20.00 per item<br>
•	Golf Clubs, $10.00 per set<br>
•	Luggage items not listed above will be carried by pre-arrangement only, on a price on application basis.<br><br>

EasyGo takes all care in the transportation of passenger’s luggage.  It is the passenger’s responsibility to ensure that their luggage is loaded and unloaded from the vehicle and that all personal possessions are removed from the vehicle when they alight. EasyGo accepts no liability for loss or damage to passenger’s luggage or personal property.
</p>

<h3>Travel Insurance</h3>
<p>EasyGo strongly recommends that all passengers travelling on domestic or international flights obtain adequate Travel Insurance prior to departure.</p>

<h3>Routes</h3>
<p>The route taken will be at the sole discretion of the driver.  Should the driver deem any location or situation unsafe, inaccessible or unsuitable for any reason whatsoever, an alternative route/location will be sort and used, or termination of travel will occur if necessary.  No refunds will be applicable in this instance.</p>

<h3>Amendments</h3>
<p>Any amendments to your booking after confirmation can only be accepted subject to availability. EasyGo reserves the right to charge an amendment fee in respect of any change to your booking in addition to any other applicable charges in relation to the amendment.</p>

<h3>Booking</h3>
<p>Booking has to be made at least 12 hours before the flight day. Booking can to be done by email, sms or formal booking form only</p>

<h3>Communications</h3>
<p>Our communications with our clients will be conducted via email. It is your responsibility to regularly check your email. We will not be held liable for any issues arising from failure to check or respond to emails.</p>

<h3>Cancellations</h3>
<p>Even if it is confirmed, your EasyGo booking can be cancelled 24 hours before the flight day. Or In the event that you need to reschedule, your EasyGo booking will remain valid for use within the next (6) months. </p>

<h3>Liability</h3>
<p>EasyGo has no liability for any act, omission or default, whether negligent or otherwise of any third party or booking agent.  In circumstances where liability cannot be excluded, such liability is limited to the value of the purchased travel arrangements.  No claim for Liquidated Damages, Consequential Loss or for any other eventuality shall be admissible.</p>

<h3>Other Conditions of Booking</h3>
<p>•	Food & Beverage Consumption: Food & Beverages are not to be consumed on any EasyGo vehicle.  <br>
•	You are responsible for any damage or soiling of the vehicle either internally or externally in accordance with these terms and conditions.<br>
•	In all case the driver of the vehicle will have the discretion to stop the vehicle and disembark those passengers engaging in unacceptable, illegal or unruly behavior.<br>
•	Alcohol & Smoking: The consumption of alcohol and smoking is not permitted by law on any vehicle supplied by EasyGo.<br>
•	Passengers are responsible for checking departing flight schedules and ensuring they have allowed adequate time to get to the airport.<br>
•	Passengers booked on the last EasyGo service for the day that they arrive, who miss their allocated pick up will need to make alternate transport arrangements at their own expense.<br>
•	All bookings are subject to availability at the time of reservation.  For operational reasons EasyGo reserves the right to substitute any vehicle where necessary.<br>
•	EasyGo reserves the right to cancel any service or amend any fare without notice.<br></p>

				</div>

			</div>
		</div>
	</div>

{% endblock %}

