{% extends 'basecamp/base.html' %}
{% load static %}

{% block content %}

<section class="page-section" id="subpages">
    <div class="container">
        <div class="row mb-2 pb-2">
            <!-- 왼쪽 섹션 -->
            <div class="col-lg-2 text-left">
                <div class="row"></div>
            </div>        
            <!-- 중앙 섹션 -->
            <div class="col-lg-8 text-left">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase" style="font-size: 2rem;">교회 섬기시는 분들</h2>
                    <h3 class="section-subheading text-muted"><p class="large text-muted">
                        우리 교회를 섬기는 분들은 하나님께서 주신 사명과 열정을 가지고 교회와 공동체를 섬기고 있습니다. 
                        각자의 역할에서 기도와 헌신으로 하나님을 높이며, 성도들이 믿음 안에서 성장하고 하나님의 사랑을 경험할 수 있도록 이끌어갑니다. 
                        그들의 따뜻한 마음과 섬김으로 우리 교회는 더욱 풍성한 은혜의 공동체로 성장하고 있습니다. 
                        함께 기도하고 지원하며 하나님의 사역을 이루어가는 섬기는 분들에게 감사의 마음을 전합니다
                    </p></h3>
                </div>
            </div>        
            <!-- 오른쪽 섹션 -->
            <div class="col-lg-2 text-left">
                <div class="row"></div>
            </div>
        </div>                
        <div class="row mb-2 pb-2">
            <!-- 왼쪽 섹션 -->
            <div class="col-lg-2 text-left">
                <div class="row"></div>
            </div>        
            <!-- 중앙 섹션 -->
            <div class="col-lg-8 text-left">
                <div class="row">
                    <table class="table table-bordered table-striped text-center">
                        <thead class="thead-dark">
                            <tr>
                                <th>부서 (직분)</th>
                                <th>성함</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>찬양팀</td>
                                <td>김아무개, 이아무개, 박아무개, 정아무개... </td>
                            </tr>
                            <tr>
                                <td>점심 식당</td>
                                <td>김아무개, 이아무개, 박아무개, 정아무개...</td>
                            </tr>
                            <tr>
                                <td>청소 정리</td>
                                <td>김아무개, 이아무개, 박아무개, 정아무개...</td>
                            </tr>
                            <tr>
                                <td>영상 및 미디어</td>
                                <td>김아무개, 이아무개, 박아무개, 정아무개... </td>
                            </tr>
                            <tr>
                                <td>주일학교</td>
                                <td>김아무개, 이아무개, 박아무개, 정아무개... </td>
                            </tr>
                            <tr>
                                <td>학생부</td>
                                <td>김아무개, 이아무개, 박아무개, 정아무개... </td>
                            </tr>
                            <tr>
                                <td>장로</td>
                                <td>김아무개, 이아무개, 박아무개, 정아무개...</td>
                            </tr>
                            <tr>
                                <td>권사</td>
                                <td>김아무개, 이아무개, 박아무개, 정아무개...</td>
                            </tr>
                            <tr>
                                <td>집사</td>
                                <td>김아무개, 이아무개, 박아무개, 정아무개...</td>
                            </tr>
                            <tr>
                                <td>사역자</td>
                                <td>담임목사: 김곤주,&nbsp;&nbsp;&nbsp;&nbsp;전도사: 감승재</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        
            <!-- 오른쪽 섹션 -->
            <div class="col-lg-2 text-left">
                <div class="row"></div>
            </div>
        </div>        
    </div>
</section>
{% endblock %}
